
{{> header }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h2>Info</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit excepturi eaque minima? Asperiores, laborum error! Architecto optio dolores sequi exercitationem similique corrupti accusamus tempore doloremque distinctio, ipsam placeat. Facilis, sint?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/img-test.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}
